# Compiled python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
ENV/

# Environment variables
.env
.env.*

# IDE settings
.vscode/

# Node modules
node_modules/
dist/
build/
.next/
out/
.vercel
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
